body {
  padding-top: 50px;
  padding-bottom: 55px;
}

.custard { color: #FFE000; font-weight: bold; }
.jumbotron { background-color: #FFFFFF; margin-bottom: 5px; padding-top: 15px; padding-bottom: 10px; }

.inline_avatar_left, .inline_avatar {
  padding: 5px;
  
}
.inline_avatar_left { float: left; margin-right: 10px; }
.inline_avatar_right { float: right; margin-left: 10px;}

/* Sticky footer styles -------------------------------------------------- */

html, body { height: 100%;}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -30px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 30px;
}
#footer {
  /* background-color: #f5f5f5; */
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .jumbotron {
    padding-left: 0;
  }
  
  .btn {
    padding: 6px;
    font-size: 0.8em;
  }
}

#lifestream {
  width: 100%;
}

.small_images img {max-height: 80px;}

ul {padding-left: 0; }
li {list-style: none; }
